<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="heading">
        <h1> Developers </h1>
        <div class="anchor"> 
            <h1><a href="/"> Menu </a></h1>
        </div>
    </div>

    <div class="grid">
        <% dev.forEach( e => { %>
            <div class="grid-item"> 
                <h2> <%= e.developers %> </h2>
            </div>
        <% }) %>
    </div>
</body>
</html>
