<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 id="heading"> Game Inventory </h1>

    <div id="anchor">
        <a id = "tableviewheader" href="/tableList"> Click here to view the table </a>
    </div>

    <div id="categories">
        <form action="/games" method="GET">
            <button> Games </button>
        </form>

        <form action="/developers" method="GET">
            <button> Developers </button>
        </form>

        <form action="/genres" method="GET">
            <button> Genres </button>
        </form>
    </div>

    <form id="searchform" method="GET" action="/searchGame">
        <div>
            <label> Search for a game </label>
        </div>
        <div>
            <input required placeholder="Enter a game eg. The Witcher" type="text" name="search"/>
            <button type="submit"> Search </button>
        </div>
    </form>    

    <form id="createForm" method="GET" action="/addGame">
        <div class="addgamelabel">
            <label> Add a new game </label>
        </div>

        <div class="addgamedetails">
            <input required name="gameName" placeholder="Enter a game eg. The Witcher"/>
            <input required name="devName" placeholder="Enter Developer name" />
            <input required name="genName" placeholder="Enter game genre eg. Action"/>
            <button type="submit"> Add + </button>
        </div>
    </form>
</body>
</html>