<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hello </h1>
    <% dc.forEach(e=>{ %>
        <h1> Game exists : <span> <%= e.game_name %></span></h1>
        <h1> Dev : <%= e.dev_name %> </h1>
    <%})%>
</body>
</html>